@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --mainColor: #f5f5f5;
  --secondaryColor: #242020;
  --accent1: #ff8a80;
  --accent2: #ff5252;
  
}

@font-face {
  font-family: 'Nippo-Variable';
  src: url('/fonts/Nippo-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Nippo-Variable', Arial, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

h1{
  font-size: 2rem;
  font-style: normal;
  font-weight: 378;
  line-height: normal;
}

h2{
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 378;
  line-height: normal;
}

p{
  font-size: 1rem;
  font-style: normal;
  font-weight: 378;
  line-height: normal;
}

.lume-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.main-container{
  background-color: var(--mainColor);
  position: relative;  /* Create positioning context for absolute children */
  overflow: hidden;  /* Prevent scrollbars if content exceeds */

  width: 63rem;
  height: 37.7rem;
  flex-shrink: 0;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='6' stroke-dasharray='16' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
}

@media (width <=1300px) {
  .main-container{
    width: 18.75rem;
  }
}

@media (width <= 600px) {
  .lume-container{
    display: flex;
    flex-direction: column;
    height: 150vh;
    justify-content: flex-start;
    margin-top: 4rem;
  }

  .main-container{
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0' y1='0' x2='100%25' y2='0' stroke='%23333' stroke-width='6' stroke-dasharray='16'/%3E%3Cline x1='0' y1='0' x2='0' y2='100%25' stroke='%23333' stroke-width='6' stroke-dasharray='16'/%3E%3Cline x1='100%25' y1='0' x2='100%25' y2='100%25' stroke='%23333' stroke-width='6' stroke-dasharray='16'/%3E%3C/svg%3E");
  }
}

.mainColor{
  background-color: var(--mainColor);
  fill: var(--mainColor);

}
.secondaryColor{
  background-color: var(--secondaryColor);
  fill: var(--secondaryColor);

}
.accent1{
  background-color: var(--accent1);
  fill: var(--accent1);

}
.accent2{
  background-color: var(--accent2);
  fill: var(--accent2);

}