@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Nippo-Variable';
  src: url('/fonts/Nippo-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Nippo-Variable', Arial, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

h1{
  font-size: 2rem;
  font-style: normal;
  font-weight: 378;
  line-height: normal;
}

h2{
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 378;
  line-height: normal;
}

p{
  font-size: 1rem;
  font-style: normal;
  font-weight: 378;
  line-height: normal;
}