@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --mainColor: #f5f5f5;
  --secondaryColor: #e0e0e0;
  --accent1: #ff8a80;
  --accent2: #ff5252;
  
}

@font-face {
  font-family: 'Nippo-Variable';
  src: url('/fonts/Nippo-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Nippo-Variable', Arial, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

h1{
  font-size: 2rem;
  font-style: normal;
  font-weight: 378;
  line-height: normal;
}

h2{
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 378;
  line-height: normal;
}

p{
  font-size: 1rem;
  font-style: normal;
  font-weight: 378;
  line-height: normal;
}

.lume-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.main-container{
  width: 62.5rem;
  height: 37.5rem;
  flex-shrink: 0;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='6' stroke-dasharray='16' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
}

.mainColor{
  background-color: var(--mainColor);
}
.secondaryColor{
  background-color: var(--secondaryColor);

}
.accent1{
  background-color: var(--accent1);

}
.accent2{
  background-color: var(--accent2);

}